.weather-header {
    background-color: darkgray !important;
}

#form-heading {
    color: rgb(114,114,114);
}

#search-input::placeholder {
    color: rgb(182,182,182);
}

#search-button {
    background-color: #ffbe98;
    border: none;
}

#search-button:hover, #search-button:active {
    background-color: #ff6811;
}

.weather-hr {
    border-top-color: rgb(114,114,114);
}

#today {
    border: 1px solid rgb(200,200,200) !important;
    color: darkgray;
}

#today h2, #today p {
    color:rgb(114,114,114);
}

.card.text-bg-dark {
    background-color: rgb(182,182,182) !important;
    border: none;
}